name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: List Files
        run: ls -la

      - name: Build Simulation
        run: echo "Build Successful!"

      - name: Test Simulation
        run: echo "No tests configured"
      - name: Notify Slack
        if: always()
        run: |
          curl -X POST -H "Content-type: application/json" \
          --data "{\"text\":\"CI Pipeline Completed\"}" \
          ${{ secrets.SLACK_WEBHOOK }}

